body{
    margin: 0;
    padding: 0;
    background-color: #cfcfcf;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 43%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #b100ff;
    box-shadow: 0px 1px 20px 1px #cc00ff ;
    border-radius: 20px 45px;
    padding: 4vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.descricao {
    float: left;
    width: 43%;
    margin-right: 30px;
    padding: 5vh;
    font-size: 0.8em;
}

.text_desc {
    font-weight: 500;
    color: #000000;
}

input {
    width: 2vw;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid #cc00ff;
    background-color: #cfcfcf;
    text-align: center;
    margin-right:  4px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 3px #000000;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}

.row {
    width: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    float: left;
}
.column div {
    width: 2vw;
    height: 3vh;
    border: 2px solid #cfcfcf;
    background-color: #cfcfcf;
    margin-bottom: 0.5px;
    margin-right:  4px;
    margin-bottom: 3px;
}

.vazio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.num {
    cursor: pointer;
}

img{
    width: 15vw;
}